body {
	box-sizing: border-box;
	background: #fdfdfd;
}

hr {
	border-top: 2px solid rgba(120, 194, 173, 0.4);
}

/*==== Navbar ====*/

.navbar-dark .navbar-nav .nav-link {
	transition: all 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: rgba(255, 255, 255, 0.99);
}

.clearHeader {
	background: rgba(120, 194, 173, 0.65) !important;
	padding: 1rem 0;
  transition: all 0.4s;
}

.darkHeader {
 background: rgba(120, 194, 173, 0.95) !important;
 color:#fff;
 transition: all 0.4s;
}


/*==== Menu Button ====*/

.container-menu {
  display: inline-block;
  cursor: pointer;
  border-radius: 0 0 45px 0;
  top: 0;
  left: 0;
  z-index: 2;
}

.bar1, .bar2, .bar3 {
  width: 33px;
  border-bottom: #fff 3px solid;
  margin: 5px 0;
  transition:all 0.2s;
}

.bar2 {
  border-bottom: #fff 2px dashed;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 3px);
  transform: rotate(-45deg) translate(-3px, 3px);
  
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -7px);
  transform: rotate(45deg) translate(-7px, -7px);
  
}

/*==== Content Zoom In ====*/
.container-img {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(22,20,21,0.9);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
	overflow-x: none;
	overflow-y: scroll;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.overlay .navbar-nav {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
}

.overlay .navbar-nav .active-page {
  color:gray;
}

.overlay .navbar-nav > li {
  border-bottom: 1px solid gray;
  padding: 1rem;
}

.overlay .navbar-nav > li > a {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.overlay .navbar-nav > li > a:hover {
  text-decoration: none;
  color: gray;
}

.overlay-toggle .overlay{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  z-index: -1;
}

/*Header*/
#header {
	/* padding-top: 56px; */
	position: fixed;
	z-index: 100;
}

#header .col-md-12 {
	min-height: 0;
}

.header {
	position: fixed;
	top: 0px;
	width: 100%;
	top: 56px;
	z-index: 10;
	background-color: #f1f1f1;
}

.progress-container {
	width: 100%;
	height: 8px;
	background: #cbede3;
	transition: all 0.4s;
}

.progressHeader {
	width: 100%;
	height: 8px;
	background: #cbede3;
	position: absolute;
	margin-top: 1rem;
	transition: all 0.3s;
}

.progress-bar {
	height: 8px;
	background: #75ddc0;
	width: 0%;
}


/* === HOME === */
#home {
	padding-top: 58px;
}

.home a, #education a {
	display: inline-block;
	padding: 4px;
	transition: .3s;
	background-image: linear-gradient(to left, #78C2AD 50% , transparent 50%);
	background-size: 200% 200%;
}

.home a:hover, #education a:hover {
	text-decoration: none;
	color: white;
	background-image: linear-gradient(to left, #78C2AD 50% , transparent 50%);
	background-position: 100% 0%;
	transition: background-position 300ms, color 300ms ease;
}

.home i img {
	width: 65%;
	box-shadow: 0px 0px 15px #343a40;
}

.home > .shadow img {
	box-shadow: 1px 1px 1px black;
}

.my-career {
	border-left: 5px solid #78C2AD;
	padding-left: 15px;
}
/* === ABOUT MY === */

#about {
	padding-top: 58px;
}

#about h3 {
	border-bottom: 5px solid #78C2AD;
	display: inline-block;
}

#about p {
	text-align: justify;
}
/* === SKILLS === */

#skills {
	padding-top: 58px;
}

#skills h3 {
	border-bottom: 5px solid #78C2AD;
	display: inline-block;
}

.width-50 {
	width: 48% !important;
}
.card-img-info {
	width: 50px;
}
/* === EXPERIENCE === */

#experience {
	padding-top: 58px;
}

#experience h3 {
	border-bottom: 5px solid #78C2AD;
	display: inline-block;
}

/* === EDUCATION === */

#education {
	padding-top: 58px;
}

#education h3 {
	border-bottom: 5px solid #78C2AD;
	display: inline-block;
}
/* === ACTIVITIES === */

#activities {
	padding-top: 58px;
}

#activities h3 {
	border-bottom: 5px solid #78C2AD;
	display: inline-block;
}

/* == GITHUB-REP === */

#github-rep {
	padding-top: 58px;
}

#github-rep h3 {
	border-bottom: 5px solid #78C2AD;
	display: inline-block;
}

#github-rep img {
	width: 100%;
	margin: 10px 0;
	box-shadow: 0px 0px 15px #343a40;
}

#github-rep a {
	transition: .3s;
}

#github-rep a:hover {
	opacity: .5;
}

#github-rep img{
	display: inline-block;
	padding: 4px;
	transition: .3s;
	background-image: linear-gradient(to left, #78C2AD 50% , transparent 50%);
	background-size: 200% 200%;
}

#github-rep img:hover {
	text-decoration: none;
	color: white;
	background-image: linear-gradient(to left, #78C2AD 50% , transparent 50%);
	background-position: 100% 0%;
	transition: background-position 300ms, color 300ms ease;
}

.rounded-square {
	border-radius: 5%;
}


footer {
	background: #78C2AD;
}

@media (min-width: 991px){
  .container-menu{
    display: none;
  }
}