body {
	box-sizing: border-box;
}

/* === HOME === */
#home {
	padding-top: 56px;
}

.home a {
	display: inline-block;
	padding: 4px;
	transition: .3s;
}

.home a:hover {
	text-decoration: none;
	background: #78C2AD;
	color: white;
}

.home img {
	width: 65%;
}

.my-career {
	border-left: 5px solid #78C2AD;
	padding-left: 15px;
}
/* === ABOUT MY === */

#about {
	padding-top: 56px;
}

#about h3 {
	border-bottom: 5px solid #78C2AD;
	display: inline-block;
}

#about p {
	text-align: justify;
}
/* === SKILLS === */

#skills {
	padding-top: 56px;
}

#skills h3 {
		border-bottom: 5px solid #78C2AD;
		display: inline-block;
}

.width-50 {
	width: 48% !important;
}
.card-img-info {
	width: 50px;
}
/* === EXPERIENCE === */

#experience {
	padding-top: 56px;
}

#experience h3 {
		border-bottom: 5px solid #78C2AD;
		display: inline-block;
}
/* === EDUCATION === */

#education {
	padding-top: 56px;
}

#education h3 {
		border-bottom: 5px solid #78C2AD;
		display: inline-block;
}
/* === ACTIVITIES === */

#activities {
	padding-top: 56px;
}

#activities h3 {
		border-bottom: 5px solid #78C2AD;
		display: inline-block;
}

/* == GITHUB-REP === */

#github-rep {
		padding-top: 56px;
}

#github-rep h3 {
	border-bottom: 5px solid #78C2AD;
	display: inline-block;
}

#github-rep img {
	width: 100%;
    margin: 10px 0;
    box-shadow: 0px 0px 15px #343a40;
}

#github-rep a {
	transition: .3s;
}

#github-rep a:hover {
	opacity: .5;
}

.rounded-square {
	border-radius: 5%;
}


footer {
	background: #78C2AD;
}