body {
	box-sizing: border-box;
}

hr {
	border-top: 2px solid rgba(120, 194, 173, 0.4);
}

/*==== Navbar ====*/

.navbar-dark .navbar-nav .nav-link {
	transition: all 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: rgba(255, 255, 255, 0.99);
}

/*Header*/
#header {
	/* padding-top: 56px; */
	position: fixed;
	z-index: 100;
}

.header {
	position: fixed;
	top: 0px;
	width: 100%;
	/* margin-top: 56px; */
	top: 56px;
	z-index: 10;
	background-color: #f1f1f1;
}

.progress-container {
	width: 100%;
	height: 8px;
	background: #cbede3;
}

.progress-bar {
	height: 8px;
	background: #75ddc0;
	width: 0%;
}


/* === HOME === */
#home {
	padding-top: 58px;
}

.home a, #education a{
	display: inline-block;
	padding: 4px;
	transition: .3s;
	background-image: linear-gradient(to left, #78C2AD 50% , transparent 50%);
	background-size: 200% 200%;
}

.home a:hover, #education a:hover {
	text-decoration: none;
	color: white;
	background-image: linear-gradient(to left, #78C2AD 50% , transparent 50%);
	background-position: 100% 0%;
	transition: background-position 300ms, color 300ms ease;
}

.home i img {
	width: 65%;
	box-shadow: 0px 0px 15px #343a40;
}

.home > .shadow img {
	box-shadow: 1px 1px 1px black;
}

.my-career {
	border-left: 5px solid #78C2AD;
	padding-left: 15px;
}
/* === ABOUT MY === */

#about {
	padding-top: 58px;
}

#about h3 {
	border-bottom: 5px solid #78C2AD;
	display: inline-block;
}

#about p {
	text-align: justify;
}
/* === SKILLS === */

#skills {
	padding-top: 58px;
}

#skills h3 {
	border-bottom: 5px solid #78C2AD;
	display: inline-block;
}

.width-50 {
	width: 48% !important;
}
.card-img-info {
	width: 50px;
}
/* === EXPERIENCE === */

#experience {
	padding-top: 58px;
}

#experience h3 {
	border-bottom: 5px solid #78C2AD;
	display: inline-block;
}
/* === EDUCATION === */

#education {
	padding-top: 58px;
}

#education h3 {
	border-bottom: 5px solid #78C2AD;
	display: inline-block;
}
/* === ACTIVITIES === */

#activities {
	padding-top: 58px;
}

#activities h3 {
	border-bottom: 5px solid #78C2AD;
	display: inline-block;
}

/* == GITHUB-REP === */

#github-rep {
	padding-top: 58px;
}

#github-rep h3 {
	border-bottom: 5px solid #78C2AD;
	display: inline-block;
}

#github-rep img {
	width: 100%;
	margin: 10px 0;
	box-shadow: 0px 0px 15px #343a40;
}

#github-rep a {
	transition: .3s;
}

#github-rep a:hover {
	opacity: .5;
}

#github-rep img{
	display: inline-block;
	padding: 4px;
	transition: .3s;
	background-image: linear-gradient(to left, #78C2AD 50% , transparent 50%);
	background-size: 200% 200%;
}

#github-rep img:hover {
	text-decoration: none;
	color: white;
	background-image: linear-gradient(to left, #78C2AD 50% , transparent 50%);
	background-position: 100% 0%;
	transition: background-position 300ms, color 300ms ease;
}

.rounded-square {
	border-radius: 5%;
}


footer {
	background: #78C2AD;
}