body {
}

/* === HOME === */
#home {
	padding-top: 56px;
}

.home a {
	display: inline-block;
	padding: 4px;
}

.home a:hover {
	text-decoration: none;
	background: #78C2AD;
	color: white;
}

.home img {
	width: 65%;
}

.my-career {
	border-left: 5px solid #78C2AD;
	padding-left: 15px;
}
/* === ABOUT MY === */

#about {
	padding-top: 56px;
}

#about h3 {
	border-bottom: 5px solid #78C2AD;
}

#about p {
	text-align: justify;
}
/* === SKILLS === */

#skills {
	padding-top: 56px;
}
.width-50 {
	width: 48% !important;
}
.card-img-info {
	width: 50px;
}
/* === EXPERIENCE === */

#experience {
	padding-top: 56px;
}
/* === EDUCATION === */

#education {
	padding-top: 56px;
}
/* === ACTIVITIES === */

#activities {
	padding-top: 56px;
}

footer {
	background: #78C2AD;
}